.calendario-dia {
    font-size: 70px;
    padding: 25px;
    text-align: center;
    vertical-align: middle;
}

.calendario-mes {
    font-size: 30px;
    padding: 10px;
}

.calendario-ano {
    font-size: 20px;
    padding: 10px;
}

.calendario-titulo {
    background-color: #ADD8E6;
    color: white;
    font-size: 20px;
    text-align: center;
}

.tam-icono-dashboard > img {
    max-width: 95px;
    max-height: 95px;
}

.tam-icono-dashboard {
    max-width: 130px;
    margin-right: 5px;
    margin-bottom: 15px;
    min-height: 95px!important;
}

.tam-icono-dashboard:hover {
    background-color: #F5F5F5;
}
