.calendario-dia {
    font-size: 70px;
    padding: 25px;
    text-align: center;
    vertical-align: middle;
}

.calendario-mes {
    font-size: 30px;
    padding: 10px;
}

.calendario-ano {
    font-size: 20px;
    padding: 10px;
}

.calendario-titulo {
    background-color: lightblue;
    color: white;
    font-size: 20px;
    text-align: center;
}

.tam-icono-dashboard > img {
    max-width: 150px;
    max-height: 150px;
}

.tam-icono-dashboard {
    min-height: 150px;
    min-width: 150px;
}
