body {
	background-color: #688FDC;
	background-image: url('/turneraonline/theme/dentista/img/fondo.png' );
	background-repeat: repeat;
	padding-left: 150px;
	padding-right: 40px;
	font-family: sans-serif;
}

.contenedor {
	background-image: url('/turneraonline/theme/dentista/img/fondo2.png');
	background-color: white;
	min-height: 590px;
	max-height: 1111px;
}

.cinta {
    float: left;
    height: 90px;
    left: -21px;
    margin-top: 30px;
    position: relative;
    width: 104%;
    background-color: #A3A2EE;
    padding-top: 10px;
}

.cinta a {
	text-decoration: none;
	color: black;
}

.cinta h1 {
	text-decoration: none;
	font-size: 16px;
	font-weight: bolder;
	clear: right;
}

.cinta h3 {
	font-size: 12px;
}

.imagenCabecera {
    border: medium none;
    float: left;
    margin-bottom: 10px;
    margin-right: 8px;
}

.contenido {
    margin-top: 140px;
}

.menu {
    float: left;
    height: 100%;
    width: 15%;
    color: lightBlue;
}

.contenido2 {
    float: right;
    height: 100%;
    width: 84%;
}

.imagenAyuda {
    float: right;
    position: relative;
    top: -50px;
    width: 50px;
}

.pie {
	border: 1px solid;
    float: right;
    height: 90px;
    left: -21px;
    margin-top: 30px;
    position: relative;
    width: 104%;
    padding-top: 5px;
}

.alinear-superior {
	vertical-align: text-top;
}

.alinear-centrado {
	text-align: center;
}

.separacion-titulo {
	padding: 2px 2px 2px 2px;
}

.flotatipo {
	height: 148px;
	width: 240px;
	vertical-align: middle;
	font-size: 16px;
	margin-top: 2px;
}

a {
	text-decoration: none;
}

.flotatipo img {
	vertical-align: middle;
	margin-top: 25px;
}